body {
    background: #eee;
    text-align: center;
    padding: 0 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}


#chats p{
    padding-left: 10px;
    border-left: solid #1254B8;
    margin: 10px;
}

#chats label{
   color:  #1254B8;
   font-weight: bold;
   margin: 10px;   
}

#localinfo p{
    padding-left: 10px;
    border-left: solid #29A329;
    margin: 10px;
}

#localinfo label{
   
   color:  #29A329;
   font-weight: bold;
   margin: 10px;   
}


#main {
    width: 900px;
    margin: auto;
    text-align: left;
    background: white;
    padding: 50px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}

#main h1 {
    margin-top: 0;
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    color: #CC3982;
    margin-bottom: 5px;
    padding: 5px;
}

#main h1 span {
    font-style:italic;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

form {
    padding: 20px;
    padding-left: 0;
    margin-bottom: 20px;
}

form input[type=text] {
    margin-right: 10px;
    width: 70%;
    font-size: 12px;
    padding: 5px;
}

.chat {
    padding: 5px;
    margin-bottom: 5px;
    background-color: #eee;
}

.chat .username {
    font-weight: 800;
}

.chat:hover {
    background-color: #ddd;
}

.spinner {
    float: right;
    height: 46px;
    margin-bottom: 5px;
}

.spinner img {
    padding: 10px;
}

#roomSelect{
    width: 100px;
}
